---
import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import Hero from "../../components/Hero.astro";
---

<BaseLayout
	title="About | Diego Veintimilla"
	description="About Diego Veintimilla Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mí"
				tagline="Gracias por visitar mi página, abajo puedes leer más sobre mí y mi formación."
			>
				<img
					width="1553"
					height="873"
					src="/assets/diego-veintimilla-software-engineer-developer.webp"
					alt="Diego Veintimilla at univeristy in a computer science, software developer, engineering class"
				/>
			</Hero>

			<section>
				<h2 class="section-title">¿Quién soy?</h2>
				<div class="content">
					<p>
						¿Te has preguntado alguna vez cómo se construyen las
						tecnologías que cambian el mundo? Soy Diego Veintimilla
						y mi misión es transformar ideas en innovación a través
						del código.
					</p>
					<br>

					<p>
						Soy un profesional especializado en el desarrollo de
						software, cuento con dos títulos: una Ingeniería en
						Ciencias de la Computación y una Licenciatura en Diseño
						en Medios Interactivos. Ayudo a startups o grandes
						empresas a crear software a medida, que sea escalable y
						centrado en el usuario. Con mi visión de diseño, enfoque
						en el negocio y conocimientos de programación me dedico
						a crear webs y apps diferenciadoras.
					</p>
					<br>

					<p>
						¿Qué me distingue? Soy un profesional apasionado en la
						tecnología con más de 2 años de experiencia
						desarrollando (y diseñando) software para empresas
						nacionales e internacionales ubicadas en Estados Unidos
						como Kin Analytics y Capmation.
					</p>
					<br>
<!-- 
					<p>
						 visita mi página
						diegoveintimilla.com y contáctame.
					</p> -->

					<!-- 
					<p>
						Have you ever used a website that was difficult or impossible to navigate? Do you consider that the virtual world is now unavoidable when promoting an idea, a business or entrepreneurship?
					</p>
					&nbsp;
					<p>
						I am Diego Veintimilla, computer science engineer and interactive media designer, I help startups or large companies to create custom software that is focused on the user, so that they have a unique experience. With my design vision, business focus and programming skills I am dedicated to create differentiating websites and apps.
					</p>
					&nbsp;
					<p>
						What sets me apart? I am a passionate technology professional with more than 2 years of experience developing (and designing) software for national and international companies located in the United States such as Kin Analytics and Capmation. 
					</p>
					&nbsp;
					<p> -->
						<p>
							¿Te atreves a crear el futuro conmigo?
					<a href="mailto:dmveintimilla@gmail.com"> Contáctame.</a>

						</p>
					
				</div>
			</section>

			<!-- <h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a computer science engineer with a strong focus on
						software development. I possess an extensive background
						in programming and excel in web and application
						development. My skill set is complemented by leadership
						abilities, adaptability, effective communication, and a
						collaborative team spirit, enabling me to contribute
						efficiently to achieve organizational objectives.
					</p>
					<p>
						I hold a Bachelor's degree in Software Engineering from
						USFQ and am currently pursuing a second degree in
						Interactive Media. I bring my expertise to Kin Analytics
						and Capmation, where I serve as a dedicated software
						engineer, consistently driving innovation and delivering
						high-quality solutions quam elementum pulvinar etiam
						non.
					</p>
					 <p>
						Ultrices tincidunt arcu non sodales neque sodales ut. Sed enim ut sem viverra aliquet
						eget sit amet. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra.
						Viverra accumsan in nisl nisi scelerisque eu ultrices. In massa tempor nec feugiat nisl
						pretium fusce.
					</p>
				</div> -->

			<section>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<a>
						Ingeniería en Ciencias de la Computación - Universidad
						San Francisco de Quito (USFQ)
					</a>
					<p>
						Adquirí conocimineto profundo de los principios y
						prácticas de la ingeniería de software, lo que me
						proporcionó una base sólida para mi carrera en
						tecnología.
					</p>

					<a>
						Diseño en Medios Interactivos - Universidad San
						Francisco de Quito (USFQ)
					</a>
					<p>
						Mejoré activamente mis habilidades y conocimientos en
						medios intractivos interactivos: páginas web, apps,
						videojuegos, diseño UX/UI, ampliando aún más mi
						experiencia el panorama tecnológico.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>
						Domino varios lenguajes de programación, experto en
						desarrollo desarrollo web y de aplicaciones, y capaz de
						dirigir proyectos con una sólida visión estratégica.
						Poseo capacidad de análisis y análisis de mercado,
						pensamiento de diseño centrado en el usuario y
						habilidades de comunicación eficaz para gestionar y
						ofrecer productos innovadores. Experiencia en análisis
						de datos y toma de decisiones, con un foco en las
						necesidades del usuario y la colaboración entre equipos
						multifuncionales. Mentalidad creativa para la resolución
						de problemas garantizando la excelencia técnica y el
						éxito en el mercado.
					</p>
				</div>
			</section>
		</main>
	

	<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.contact-title {
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
